<form{{attributes.addClass('user-login-form')}} action="{{ element['#action'] }}" method="{{ element['#method'] }}">
	<div class="form-elements">
		{{ element.name }}
		{{ element.pass }}
	</div>

	<div class="login-form__actions">
		<a href="/user/password" class="forgot-password">{{ 'Reset password'|t }}</a>
		{{ element.actions.submit }}
		<a href="/user/register" class="create-user">{{ 'Create new account'|t }}</a>
	</div>

	{{ element.form_build_id }}
	{{ element.form_id }}
</form>
